# Imports

In [1]:
import pandas as pd
import numpy as np

raw_train = pd.read_csv("train.csv")
raw_test = pd.read_csv("test.csv")

raw_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Exploratory Data Analysis

In [2]:
print('Pclass')
print('Range: ' + str(raw_test['Pclass'].min()) + '-' + str(raw_test['Pclass'].max()))
print('Missing Values: ' + str(raw_test['Pclass'].size - raw_test['Pclass'].count()))
print()
print('Sex')
print('Missing Values: ' + str(raw_test['Sex'].size - raw_test['Sex'].count()))
print()
print('Age')
print('Range: ' + str(raw_test['Age'].min()) + '-' + str(raw_test['Age'].max()))
print('Missing Values: ' + str(raw_test['Age'].size - raw_test['Age'].count()))
print()
print('SibSp')
print('Range: ' + str(raw_test['SibSp'].min()) + '-' + str(raw_test['SibSp'].max()))
print('Missing Values: ' + str(raw_test['SibSp'].size - raw_test['SibSp'].count()))
print()
print('Parch')
print('Range: ' + str(raw_test['Parch'].min()) + '-' + str(raw_test['Parch'].max()))
print('Missing Values: ' + str(raw_test['Parch'].size - raw_test['Parch'].count()))
print()
print('Fare')
print('Range: ' + str(raw_test['Fare'].min()) + '-' + str(raw_test['Fare'].max()))
print('Missing Values: ' + str(raw_test['Fare'].size - raw_test['Fare'].count()))
print()
print('Embarked')
print('Missing Values: ' + str(raw_test['Embarked'].size - raw_test['Embarked'].count()))

Pclass
Range: 1-3
Missing Values: 0

Sex
Missing Values: 0

Age
Range: 0.17-76.0
Missing Values: 86

SibSp
Range: 0-8
Missing Values: 0

Parch
Range: 0-9
Missing Values: 0

Fare
Range: 0.0-512.3292
Missing Values: 1

Embarked
Missing Values: 0

In [ ]:
age = raw_train['Age'].floordiv(10)
age.index = age
print(age.mean())
age.groupby(level=0).count()

2.5252100840336134

Age
0.0     62
1.0    102
2.0    220
3.0    167
4.0     89
5.0     48
6.0     19
7.0      6
8.0      1
Name: Age, dtype: int64

In [ ]:
fare = raw_train['Fare'].floordiv(50)
fare.index = fare
print(fare.mean())
fare.groupby(level=0).count()

0.3221099887766554

Fare
0.0     730
1.0     108
2.0      24
3.0       9
4.0      11
5.0       6
10.0      3
Name: Fare, dtype: int64

# Preprocessing

In [6]:
def transform(data,age_bin = 10,fare_bin = 50):
  titles = ["Mr", "Miss", "Mrs", "Master"]
  title = data['Name'].str.extract(r"([A-Za-z]+)\.", expand=False)
  title.replace(["Ms", "Mlle", "Mme"], "Miss", inplace=True)
  title.replace(["Lady"], "Mrs", inplace=True)
  title.replace(["Sir", "Rev"], "Mr", inplace=True)
  title[~title.isin(titles)] = "Others"
  sex = data['Sex'].map({'male':0,'female':1,np.nan:1})
  age = data['Age'].floordiv(age_bin,fill_value=data['Age'].mean())
  fare = data['Fare'].floordiv(fare_bin,fill_value=0)
  embarked = data['Embarked'].map({'S':0,'C':1,'Q':2})
  cleaned = pd.DataFrame({'Pclass':data['Pclass'],'Title':title,'Sex':sex,'Age':age,'SibSp':data['SibSp'],'Parch':data['Parch'],'Fare':fare,'Embarked':embarked})
  return cleaned

transform(raw_train)

     Pclass Title  Sex  Age  SibSp  Parch  Fare  Embarked
0         3    Mr    0  2.0      1      0   0.0       0.0
1         1   Mrs    1  3.0      1      0   1.0       1.0
2         3  Miss    1  2.0      0      0   0.0       0.0
3         1   Mrs    1  3.0      1      0   1.0       0.0
4         3    Mr    0  3.0      0      0   0.0       0.0
..      ...   ...  ...  ...    ...    ...   ...       ...
886       2    Mr    0  2.0      0      0   0.0       0.0
887       1  Miss    1  1.0      0      0   0.0       0.0
888       3  Miss    1  2.0      1      2   0.0       0.0
889       1    Mr    0  2.0      0      0   0.0       1.0
890       3    Mr    0  3.0      0      0   0.0       2.0

[891 rows x 8 columns]

# Training

In [7]:
def entropy(data):
  p1 = data['Survived'].mean();
  p0 = 1 - p1
  if p0 == 0 or p1 == 0: return 0
  return -1 * (p0*np.log2(p0) + p1*np.log2(p1))

entropy(raw_train)

np.float64(0.9607079018756469)

In [8]:
def train(data,labels,max_depth,min_improv=0):
  if(max_depth > 0):
    H = entropy(data)
    if(H > 0):
      min = 2
      for l in labels:
        groupby = data.groupby(by=l)
        e = 0
        for value, group in groupby:
          e += entropy(group) * len(group)/len(data)
        if e < min:
          min = e
          label = l
          g = groupby
      if min < H - min_improv:
        labels.remove(label)
        next = dict();
        for value, group in g:
          next.update({value:train(group,labels,max_depth-1)})
        return {'label':label,'entropy':H,'next':next}
  return {'label':'End','entropy':entropy(data),'class': 0 if data['Survived'].mean() < .5 else 1}

In [9]:
data = transform(raw_train)
data['Survived'] = raw_train['Survived']
labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
model = train(data,labels,len(labels))
model

{'label': 'Title',
 'entropy': np.float64(0.9607079018756469),
 'next': {'Master': {'label': 'SibSp',
   'entropy': np.float64(0.9837082626231857),
   'next': {0: {'label': 'End', 'entropy': 0, 'class': 1},
    1: {'label': 'End', 'entropy': 0, 'class': 1},
    2: {'label': 'End', 'entropy': 0, 'class': 1},
    3: {'label': 'End', 'entropy': 0, 'class': 0},
    4: {'label': 'Parch',
     'entropy': np.float64(0.4689955935892812),
     'next': {1: {'label': 'End', 'entropy': 0, 'class': 0},
      2: {'label': 'End',
       'entropy': np.float64(0.9182958340544896),
       'class': 0}}},
    5: {'label': 'End', 'entropy': 0, 'class': 0},
    8: {'label': 'End', 'entropy': 0, 'class': 0}}},
  'Miss': {'label': 'Pclass',
   'entropy': np.float64(0.8759695775313525),
   'next': {1: {'label': 'Age',
     'entropy': np.float64(0.24602257822033174),
     'next': {0.0: {'label': 'End', 'entropy': 0, 'class': 0},
      1.0: {'label': 'End', 'entropy': 0, 'class': 1},
      2.0: {'label': 'End', 'entropy': 0, 'class': 1},
      3.0: {'label': 'End', 'entropy': 0, 'class': 1},
      4.0: {'label': 'End', 'entropy': 0, 'class': 1},
      5.0: {'label': 'Fare',
       'entropy': np.float64(0.8112781244591328),
       'next': {0.0: {'label': 'Embarked',
         'entropy': np.float64(1.0),
         'next': {0.0: {'label': 'End', 'entropy': 0, 'class': 1},
          1.0: {'label': 'End', 'entropy': 0, 'class': 0}}},
        1.0: {'label': 'End', 'entropy': 0, 'class': 1},
        2.0: {'label': 'End', 'entropy': 0, 'class': 1}}},
      6.0: {'label': 'End', 'entropy': 0, 'class': 1}}},
    2: {'label': 'End',
     'entropy': np.float64(0.31599713297842474),
     'class': 1},
    3: {'label': 'End', 'entropy': np.float64(1.0), 'class': 1}}},
  'Mr': {'label': 'End',
   'entropy': np.float64(0.6258424755265808),
   'class': 0},
  'Mrs': {'label': 'End',
   'entropy': np.float64(0.7344461802527669),
   'class': 1},
  'Others': {'label': 'Sex',
   'entropy': np.float64(0.9709505944546686),
   'next': {0: {'label': 'End',
     'entropy': np.float64(0.8904916402194913),
     'class': 0},
    1: {'label': 'End', 'entropy': 0, 'class': 1}}}}}

# Testing

In [10]:
def test(data,model):
  correct = 0
  for i in data.index:
    layer = model
    while not layer['label'] == 'End':
      value = data[layer['label']][i]
      if value in layer['next']:
        layer = layer['next'][value]
      else:
        keys = list(layer['next'].keys())
        before = keys[0]
        for k in keys:
          after = k
          if(after > value): break
          before = k
        if after - value < value - before:
          layer = layer['next'][after]
        else:
          layer = layer['next'][before]
    if layer['class'] == data['Survived'][i]: correct += 1
  return correct / len(data)

In [11]:
test(data,model)

0.813692480359147

# Evaluation

In [12]:
data = transform(raw_train)
data['Survived'] = raw_train['Survived']
training = data.sample(frac=.8)
validation = data.drop(training.index)
labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
for i in range(len(labels)):
  labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
  model = train(training,labels,i)
  print(str(i) + ': ' + str(test(validation,model)))

0: 0.5730337078651685
1: 0.8033707865168539
2: 0.7921348314606742
3: 0.8146067415730337
4: 0.8202247191011236
5: 0.8146067415730337
6: 0.8146067415730337
7: 0.8146067415730337

In [13]:
for a in range(1,100,1):
  data = transform(raw_train,age_bin=a)
  data['Survived'] = raw_train['Survived']
  training = data.sample(frac=.8)
  validation = data.drop(training.index)
  labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
  model = train(training,labels,len(labels))
  print(str(a) + ': ' + str(test(validation,model)))

1: 0.7921348314606742
2: 0.8202247191011236
3: 0.7640449438202247
4: 0.797752808988764
5: 0.7752808988764045
6: 0.7865168539325843
7: 0.797752808988764
8: 0.8314606741573034
9: 0.7696629213483146
10: 0.8146067415730337
11: 0.8202247191011236
12: 0.8651685393258427
13: 0.7528089887640449
14: 0.8314606741573034
15: 0.797752808988764
16: 0.7865168539325843
17: 0.7640449438202247
18: 0.848314606741573
19: 0.7921348314606742
20: 0.7696629213483146
21: 0.797752808988764
22: 0.7584269662921348
23: 0.8033707865168539
24: 0.7921348314606742
25: 0.7921348314606742
26: 0.7808988764044944
27: 0.7865168539325843
28: 0.8146067415730337
29: 0.7584269662921348
30: 0.7696629213483146
31: 0.8370786516853933
32: 0.7528089887640449
33: 0.7865168539325843
34: 0.7303370786516854
35: 0.8089887640449438
36: 0.8202247191011236
37: 0.7584269662921348
38: 0.7921348314606742
39: 0.8089887640449438
40: 0.8089887640449438
41: 0.797752808988764
42: 0.7865168539325843
43: 0.7921348314606742
44: 0.8146067415730337
45: 0.8370786516853933
46: 0.8370786516853933
47: 0.8146067415730337
48: 0.8146067415730337
49: 0.8089887640449438
50: 0.8033707865168539
51: 0.8202247191011236
52: 0.8146067415730337
53: 0.7808988764044944
54: 0.8314606741573034
55: 0.8033707865168539
56: 0.8258426966292135
57: 0.848314606741573
58: 0.7865168539325843
59: 0.797752808988764
60: 0.8258426966292135
61: 0.8146067415730337
62: 0.797752808988764
63: 0.8258426966292135
64: 0.797752808988764
65: 0.7640449438202247
66: 0.7640449438202247
67: 0.7921348314606742
68: 0.7752808988764045
69: 0.8202247191011236
70: 0.8033707865168539
71: 0.797752808988764
72: 0.8539325842696629
73: 0.8089887640449438
74: 0.7865168539325843
75: 0.8370786516853933
76: 0.7696629213483146
77: 0.8146067415730337
78: 0.7808988764044944
79: 0.797752808988764
80: 0.7865168539325843
81: 0.797752808988764
82: 0.7752808988764045
83: 0.7921348314606742
84: 0.8258426966292135
85: 0.8314606741573034
86: 0.7808988764044944
87: 0.8258426966292135
88: 0.8146067415730337
89: 0.797752808988764
90: 0.8258426966292135
91: 0.797752808988764
92: 0.7752808988764045
93: 0.7696629213483146
94: 0.8370786516853933
95: 0.7640449438202247
96: 0.8033707865168539
97: 0.8033707865168539
98: 0.797752808988764
99: 0.7584269662921348

In [15]:
for f in range(5,500,5):
  data = transform(raw_train,fare_bin=f)
  data['Survived'] = raw_train['Survived']
  training = data.sample(frac=.8)
  validation = data.drop(training.index)
  labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
  model = train(training,labels,len(labels))
  print(str(f) + ': ' + str(test(validation,model)))

5: 0.7808988764044944
10: 0.797752808988764
15: 0.8033707865168539
20: 0.7921348314606742
25: 0.7865168539325843
30: 0.8370786516853933
35: 0.8426966292134831
40: 0.7528089887640449
45: 0.8146067415730337
50: 0.797752808988764
55: 0.8146067415730337
60: 0.8314606741573034
65: 0.7752808988764045
70: 0.8426966292134831
75: 0.8146067415730337
80: 0.7865168539325843
85: 0.8258426966292135
90: 0.7752808988764045
95: 0.7865168539325843
100: 0.7808988764044944
105: 0.8033707865168539
110: 0.7808988764044944
115: 0.7921348314606742
120: 0.797752808988764
125: 0.7359550561797753
130: 0.8258426966292135
135: 0.8539325842696629
140: 0.797752808988764
145: 0.8146067415730337
150: 0.8370786516853933
155: 0.8202247191011236
160: 0.7696629213483146
165: 0.7808988764044944
170: 0.8089887640449438
175: 0.7921348314606742
180: 0.8202247191011236
185: 0.7921348314606742
190: 0.8033707865168539
195: 0.7865168539325843
200: 0.8033707865168539
205: 0.8202247191011236
210: 0.8146067415730337
215: 0.7752808988764045
220: 0.8314606741573034
225: 0.7640449438202247
230: 0.7808988764044944
235: 0.7528089887640449
240: 0.8146067415730337
245: 0.8033707865168539
250: 0.7752808988764045
255: 0.7865168539325843
260: 0.8146067415730337
265: 0.8202247191011236
270: 0.8033707865168539
275: 0.7865168539325843
280: 0.7528089887640449
285: 0.8651685393258427
290: 0.8146067415730337
295: 0.8146067415730337
300: 0.8426966292134831
305: 0.7865168539325843
310: 0.7808988764044944
315: 0.8370786516853933
320: 0.797752808988764
325: 0.8146067415730337
330: 0.7471910112359551
335: 0.7696629213483146
340: 0.8089887640449438
345: 0.848314606741573
350: 0.797752808988764
355: 0.8089887640449438
360: 0.8089887640449438
365: 0.8089887640449438
370: 0.8146067415730337
375: 0.797752808988764
380: 0.7921348314606742
385: 0.7865168539325843
390: 0.8258426966292135
395: 0.7865168539325843
400: 0.7865168539325843
405: 0.7921348314606742
410: 0.8146067415730337
415: 0.7640449438202247
420: 0.7921348314606742
425: 0.8033707865168539
430: 0.8089887640449438
435: 0.8539325842696629
440: 0.7808988764044944
445: 0.8089887640449438
450: 0.8033707865168539
455: 0.7921348314606742
460: 0.8033707865168539
465: 0.7921348314606742
470: 0.797752808988764
475: 0.7921348314606742
480: 0.7921348314606742
485: 0.797752808988764
490: 0.8426966292134831
495: 0.8033707865168539

In [16]:
data = transform(raw_train)
data['Survived'] = raw_train['Survived']
training = data.sample(frac=.8)
validation = data.drop(training.index)
labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
for i in range(30):
  labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
  model = train(training,labels,len(labels),min_improv=i/100)
  print(str(i) + ': ' + str(test(validation,model)))

0: 0.7865168539325843
1: 0.7865168539325843
2: 0.7865168539325843
3: 0.7865168539325843
4: 0.7865168539325843
5: 0.7865168539325843
6: 0.7865168539325843
7: 0.7865168539325843
8: 0.7865168539325843
9: 0.7865168539325843
10: 0.7865168539325843
11: 0.7865168539325843
12: 0.7865168539325843
13: 0.7865168539325843
14: 0.7865168539325843
15: 0.7865168539325843
16: 0.7865168539325843
17: 0.7865168539325843
18: 0.7865168539325843
19: 0.7865168539325843
20: 0.7865168539325843
21: 0.7865168539325843
22: 0.7865168539325843
23: 0.7865168539325843
24: 0.7865168539325843
25: 0.7865168539325843
26: 0.5842696629213483
27: 0.5842696629213483
28: 0.5842696629213483
29: 0.5842696629213483

# Prediction

In [17]:
def predict(data,model):
  out = pd.DataFrame(columns=['PassengerId','Survived'])
  out['PassengerId'] = data['PassengerId']
  for i in data.index:
    layer = model
    while not layer['label'] == 'End':
      value = data[layer['label']][i]
      if value in layer['next']:
        layer = layer['next'][value]
      else:
        keys = list(layer['next'].keys())
        before = keys[0]
        for k in keys:
          after = k
          if(after > value): break
          before = k
        if after - value < value - before:
          layer = layer['next'][after]
        else:
          layer = layer['next'][before]
    out.loc[i,'Survived'] = layer['class']
  return out

In [18]:
data = transform(raw_train,age_bin=5,fare_bin=20)
data['Survived'] = raw_train['Survived']
training = data.sample(frac=.8)
validation = data.drop(training.index)
labels = ['Pclass','Title','Sex','Age','SibSp','Parch','Fare','Embarked']
model = train(training,labels,len(labels))
test(validation,model)

0.848314606741573

In [19]:
data = transform(raw_test,age_bin=5,fare_bin=20)
data['PassengerId'] = raw_test['PassengerId']
out = predict(data,model)
out.to_csv('DecisionTree.csv', index = False)
out

     PassengerId Survived
0            892        0
1            893        1
2            894        0
3            895        0
4            896        1
..           ...      ...
413         1305        0
414         1306        0
415         1307        0
416         1308        0
417         1309        1

[418 rows x 2 columns]